@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  text-align: center;
  color: #ffffff;
  --color-primary: #212121;
  --color-primary-dark: #0d0d0d;
  --color-primary-light: #4d4d4d;
  --color-primary-content: #3a3a3a;

}

h1 {
  font-size: 24px;
}

html,
body {
  height: 100%;
  color: white;
  justify-content: stretch;
  justify-items: stretch;
}

.solid-background {
  background-color: var(--color-primary);
  max-width: 1000px;
  width: 100%;
}

section {
  padding: 32px;
}

button {
  background-color: var(--color-primary-light);
}

.title-div {
  width: 100%;
  background-color: var(--color-primary-content);
}

.card {
  background-color: var(--color-primary-content);
  border: 1px solid var(--color-primary-content);
  border-radius: 8px;
  padding: 10px;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: var(--color-primary-content);
  border: 1px solid var(--color-primary-light);
}

.icon-button {
  background: var(--color-primary-light);
  opacity: 0.8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden,
}

.icon-button:hover {
  background: var(--color-primary-light);
  opacity: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden,
}

.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  z-index: -1;
  background-color: var(--color-primary-dark);
}

.animated-background-square {
  width: 70vw;
  height: 100vw;
  background: var(--color-primary-light);
  position: fixed;
  opacity: 0.015;
  animation: moveShape 50s infinite alternate ease-in-out;
}

@keyframes moveShape {
  0% {
    transform: translate(-20vw, 0vh);
  }

  25% {
    transform: translate(20vw, 0vh);
  }

  50% {
    transform: translate(50vw, 0vh);
  }

  75% {
    transform: translate(40vw, 0vh);
  }

  100% {
    transform: translate(120vw, 0vh);
  }
}