#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;  
  background-color: black;
  color: white;  
}

button {
  background-color: blue;
}

.card {
  background-color: rgba(23, 23, 56, 0.5);
  border: 1px solid rgba(173, 216, 230, 0.25);
  border-radius: 8px;
  padding: 10px;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: rgb(23, 23, 56);
  border: 1px solid rgba(173, 216, 230, 0.5);
}